.productImg{
    background-image: url(../images/img-1.jpg);
    max-width: 100%;
    height: 500px;
    z-index: -1;
}

.content{
    background-color: #fff;
    left: -80px;
}

.breadcrumb{
    background-color: transparent;
}

.number{
    border-radius: 10px;
    margin-right: 5px;
    background: #F2F2F2;

    input{
        background: #ffffff00;
        width: 40px;
    }
}

.description{
    font-size: 20px;
    line-height: 30px;
}
.standard{
    color: #0000009A;
}